* {
  font-family: sans-serif;
  /*fill: #15a1c4;*/
}

.todo {
  width: 80vw;
  /*height: auto;*/
  max-width: 500px;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(#c3eaf4, #0f7791) 10;
  background-color: #eaf6f9;

}

.todo--header {
  width: 100%;
}

.todo--menu {
  background-color: #0b5366;
  height: 10vw;
  max-height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo--new { /* this is the add button presumably for a new list, disabling for now, but leaving in html*/
  display: none;
}

.todo--title {
  color: #eaf6f9;
  font-size: 1.3em;
}
.todo--date {
  /*border: 1px dashed black;*/
  color: #15a1c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo--weekday {
  padding-top: 2%;
  font-weight: bold;
  font-size: 1.6em;
}

.todo--fulldate {
  font-size: .8em;
  padding-top: 2%;
}

.todo--body {
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  /*height: auto;*/
  border-top: 2px solid #15a1c4;
  border-bottom: 2px solid #15a1c4;
  color: #15a1c4;
}

.todo--items {
  padding-left: 0;
  min-height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-flow: column;
}

.todo--item {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  /*max-height: 10vw;*/
  /*border: 1px dashed black;*/

}

.todo--button {
  flex: 1;
  max-width: 10px;
  margin-right: 10px;
  /*fill: #15a1c4;*/
  /*display: flex;*/
  /*position: relative;*/
}

.todo--checkmark {
  fill: #15a1c4;
  flex: 1;
}

.todo--text {
  flex: 1;
  align-items: stretch;
  align-content: stretch;
  /*overflow: hidden;*/
}

.todo--delete {
  fill: #15a1c4;;
}


.todo--add {
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
  /*border-top: 2px solid #15a1c4;*/
  /*border-bottom: 2px solid #15a1c4;*/
  color: #15a1c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  width: 80%;
  border-color: #15a1c4;
  color: #15a1c4;
}
textarea::placeholder {
  color: #15a1c4;
}

.todo--create {
  margin-right: 2%;
  fill: #15a1c4;;
}

.todo--create svg {
  fill: #15a1c4;;
}

.-done {
  font-weight: lighter;
  color: #9dc2cc;
  fill: #9dc2cc;
}
